<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body-content-wrapper">
        @Html.Partial("_Header")
        <div class="container-fluid body-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="well aside-menu">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Quiz")">Quiz</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            <li><a href="@Url.Action("About", "Home")">About</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8" id="main-content">
                    <h2 class="text-center">@ViewBag.Title</h2>
                    @RenderBody()
                </div>
                <div class="col-md-2">
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        @Html.Partial("_AdminPanel")
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
