
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
            <li><a href="@Url.Action("Index", "Manage")"><span class="glyphicon glyphicon-home"></span> Welcome, @HttpContext.Current.User.Identity.Name</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
    </ul>
}