@model PresentationLayerWebMvc.Models.QuizCreateViewModel

@{
    ViewBag.Title = "Create quiz";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TestCreateViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinutesToSubmit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinutesToSubmit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinutesToSubmit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="QuestionsBlock">
            <div class="form-group">
                @Html.LabelFor(model => model.Questions[0].Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Questions[0].Text, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Questions[0].Answers, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Questions[0].Answers, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Questions[0].CorrectAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Questions[0].CorrectAnswer, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p><a class="addLink">Add new question</a></p>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div class='form-group'>" +
                    "<label class='control-label col-md-2' for='Questions_" + i + "__Text'>Text</label>"  +
                        "<div class='col-md-10'>" + 
                    "<input class='form-control text-box single-line' id='Questions_" + i + "__Text' name='Questions[" + i + "].Text' type='text' value='' />" +
                 "</div></div>" + 
                    "<div class='form-group'>" +
                    "<label class='control-label col-md-2' for='Questions_" + i + "__Answers'>Answers(; delimited)</label>" +
                        "<div class='col-md-10'>" +
                    "<input class='form-control text-box single-line' id='Questions_" + i + "Answers' name='Questions[" + i + "].Answers' type='text' value='' />" +
                 "</div></div>" + 
                    "<div class='form-group'>" +
                    "<label class='control-label col-md-2' for='Questions_" + (1 + 1) + "__CorrectAnswer'>Correct answer</label>" +
                        "<div class='col-md-10'>" +
                    "<input class='form-control text-box single-line' id='Questions_" + i + "__CorrectAnswer' name='Questions[" + i + "].CorrectAnswer' type='text' value='' />" +
                 "</div></div>";
                $('#QuestionsBlock').append(html2Add);
            })
        })
    </script>
}